In [1]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import gmaps
import gmaps.datasets
gmaps.configure(api_key="AIzaSyDwAWbWrG_kbGgqiXZ55x_JdmjOQebzmZM")
countries_location = pd.read_csv("countries.csv")
covid_data = pd.read_csv("owid-covid-data.csv")
#importing libaries and configure with gmaps api

In [2]:
covid_data.date = pd.to_datetime(covid_data.date)
last_date = covid_data['date'].max()
covid_data_filtered_per_million = covid_data[["location","date", "total_cases_per_million","total_deaths_per_million"]]
#convert the date column to datetime type
#prepare the data set covid_data_filtered_per_million taking data about list of countries in the last day that in the dataset

In [3]:
covid_data_filtered_per_million = covid_data_filtered_per_million[covid_data_filtered_per_million['date']==last_date]
covid_data_filtered_per_million  = covid_data_filtered_per_million .loc[(covid_data_filtered_per_million ['location'] =='Israel' )| 
                                                      ( covid_data_filtered_per_million ['location'] =='Austria' )|
                                                       (covid_data_filtered_per_million ['location'] =='Italy' )|
                                                        (covid_data_filtered_per_million ['location'] =='Brazil' )|
                                                        (covid_data_filtered_per_million ['location'] =='Germany' )|
                                                        (covid_data_filtered_per_million ['location'] =='United Kingdom' )|
                                                        (covid_data_filtered_per_million ['location'] =='Iran' )|
                                                        (covid_data_filtered_per_million ['location'] =='World' )|
                                                       (covid_data_filtered_per_million ['location'] =='United States')]
#selecting 8 countries fot the example

In [4]:
covid_data_filtered_per_million=covid_data_filtered_per_million.sort_values('total_cases_per_million',ascending=False)

In [5]:
covid_data_filtered_per_million=covid_data_filtered_per_million.sort_values('total_deaths_per_million',ascending=False)
#sorting the df

In [6]:
countries_locations = countries_location[['latitude', 'longitude','location']]
countries_locations.head()
#taking the coordinates about the countries location

    latitude  longitude              location
0  42.546245   1.601554               Andorra
1  23.424076  53.847818  United Arab Emirates
2  33.939110  67.709953           Afghanistan
3  17.060816 -61.796428   Antigua and Barbuda
4  18.220554 -63.068615              Anguilla

In [7]:
covid_rdd = covid_data_filtered_per_million[["location","total_cases_per_million"]]
covid_rdd.head()
#set the coulmns we want for the merged df we want to work with

             location  total_cases_per_million
6855            Italy                 3332.764
4840   United Kingdom                 2373.759
13373   United States                 3059.139
3333          Germany                 1881.518
6373             Iran                 1102.283

In [8]:
covid_final_rdd = pd.merge(covid_rdd,countries_locations ,on =['location'] )
covid_final_rdd.head()
#merging the two data frames to a new df with all the neccesary data we want to show

         location  total_cases_per_million   latitude  longitude
0           Italy                 3332.764  41.871940  12.567380
1  United Kingdom                 2373.759  55.378051  -3.435973
2   United States                 3059.139  37.090240 -95.712891
3         Germany                 1881.518  51.165691  10.451526
4            Iran                 1102.283  32.427908  53.688046

In [9]:
locations_rdd = covid_final_rdd[['latitude', 'longitude']]
locations_rdd.head()
# a special rdd which contain the neccesry info for the heatmap we want to present

    latitude  longitude
0  41.871940  12.567380
1  55.378051  -3.435973
2  37.090240 -95.712891
3  51.165691  10.451526
4  32.427908  53.688046

In [10]:
amount_of_cases = covid_final_rdd['total_cases_per_million']
fig = gmaps.figure(map_type='SATELLITE')
fig.add_layer(gmaps.heatmap_layer(locations_rdd, weights=amount_of_cases))
fig
#setting up  an heatmap about how many cases per million there are in selected countries in the world(like uk,us..)
#i selected to present it in a satellite view,if the spot is more red ,its mean there are more cases per million 
#of covid-19 in this country

Figure(layout=FigureLayout(height=u'420px'))